<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link" style="cursor:pointer" disabled="@hasNoMorePrevious" @onclick="GoToPrevious">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" style="cursor:pointer" disabled="@hasNoMoreNext" @onclick="GoToNext">Next</a>
        </li>
    </ul>
</nav>