<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Europart - <a asp-area="" asp-page="/Privacy">Privacy</a>
        <i class="flag flag-us"></i>
        <i class="flag-icon flag-icon-us"></i>
    </div>
    <AccessControl />
</footer>
@code {

}
