@using EuropArt.Client.Infrastructure
@inherits LayoutComponentBase
@implements IDisposable


        <NavMenu />

    <div class="main">
        <div class="container-lg content">
            @Body
        </div>
    </div>

    <div>
        <Footer />
    </div>

@code {
    protected override void OnInitialized()
    {
       
    }
    public void Dispose()
    {
        
    }
}