@inherits LayoutComponentBase

        <NavMenu />

    <div class="main">
        <div class="container-lg content">
            @Body
        </div>
    </div>

    <div>
        <Footer />
    </div>
