@inherits LayoutComponentBase

<div class="">
    <div class="">
        <NavMenu />
    </div>

    <div class="main">
        <div>
            @Body
        </div>
    </div>

    <div>
        <Footer />
    </div>
</div>
