<div class="round-nav fixed-top"></div>
<nav class="navbar navbar-first navbar-expand navbar-light fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <div class="navbar-nav justify-content-start flex-grow-1 pe-3 nav-item">
                <p class="nav-link">Site Language</p>
                <ChooseLanguage />
            </div>
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <NavLink class="nav-link" href="Login">Sign in</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Register">Register</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-second navbar-dark navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">EuropArt</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            @*<div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">EuropArt</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>*@
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="artwork">Artworks</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="artist">Artists</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="youth" >Youth</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="AboutUs">About us</NavLink>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end pe-3">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Zoeken" aria-label="Zoeken">
                        <button class="btn btn-outline-white" type="submit">Zoeken</button>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</nav>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
