@page "/aboutus"
@inject IStringLocalizer<EuropArt.Shared.Resources.AboutUs> Loc

<div class="row">
    <div class="col-7">
        <h1>@Loc["About"]</h1>
        <h4>
            Hooop staat voor dromen-hopen en geloven.
        </h4>
        <p>
            @Loc["Text"]
        </p>
        <h1>@Loc["Museum"]</h1>
        <p>@Loc["Text2"]</p>
    </div>

    <div class="col-4">
        <img src="images/BLU_Kleurenfoto_Jean-Marie_0.jpeg">
    </div>
</div>

@code { }
