@page "/aboutus"
@inject IStringLocalizer<EuropArt.Shared.Resources.AboutUs> Loc

<div class="row">
    <div class="col-7">
        <h1>Over ons</h1>
        <h4>
            <b>Hooop</b> staat voor dr<b>O</b>men-h<b>O</b>pen en gel<b>O</b>ven.
        </h4>
        <p>
            Jean-Marie Waelkens werkt dagelijks met hout, als ambachtelijke tafelbouwer. Hij maakt tafels op maat en volgens de smaak van de klant. ’s Avonds stopt hij in een imaginaire wereld , waarin hij houten poppen en -beelden draait. Hij noemt ze hooop-poppen. Zijn visionaire manier van kijken naar hout maakt van hem een houtlezer .

            Net zoals hij voor zichzelf , een ontsnapping maakt uit het dagdagelijkse, wil hij ook voor anderen een inspirerende wereld creëren. Hij wil iedereen helpen gelOven dat drOmen reëler zijn dan de beperking van de dagelijkse realiteit.

            Jean-Marie is ook bekend uit het TV1 programma “Vive Le Vélo”. Hij schonk hen 12 keer een kunstig en origineel gemaakte tourtafel waar het programma aan werd gemaakt. Bij de veiling van zo een tafel in 2011 werd 227.599,-€ opgehaald die integraal naar de Make a Wish foundation ging. Ook dat is helpen drOmen en gelOven.
        </p>
        <h1>Het museum</h1>
        <p>Het museum is een initiatief onder leiding van Jean-Marie Waelkens waarbij er een kunsttentoonstelling komt in Gent met onder meer het werk van Jean-Marie zelf. Meer info hierover volgt nog.</p>
    </div>

    <div class="col-4">
        <img src="images/BLU_Kleurenfoto_Jean-Marie_0.jpeg">
    </div>
</div>

@code { }
