@page "/artists2"

<h3>Artist</h3>

<div class="row">
    <div class="col-4 text-center">
        <div class="badge-kunstenaars">
            <div class="profile-pic">
                <img src="images/profile.svg" />
            </div>
            <h2>Voornaam Naam</h2>
            <span class="locatie"><img src="images/locate.svg" /> 1000 Brussel</span><br />
            <span class="kunstwerken">50 kunstwerken</span>
        </div>
    </div>
    <div class="col-4 text-center">
        <div class="badge-kunstenaars">
            <div class="profile-pic">
                <img src="images/profile.svg" />
            </div>
            <h2>Voornaam Naam</h2>
            <span class="locatie"><img src="images/locate.svg" /> 1000 Brussel</span><br />
            <span class="kunstwerken">50 kunstwerken</span>
        </div>
    </div>
    <div class="col-4 text-center">
        <div class="badge-kunstenaars">
            <div class="profile-pic">
                <img src="images/profile.svg" />
            </div>
            <h2>Voornaam Naam</h2>
            <span class="locatie"><img src="images/locate.svg" /> 1000 Brussel</span><br />
            <span class="kunstwerken">50 kunstwerken</span>
        </div>
    </div>
    <div class="col-4 text-center">
        <div class="badge-kunstenaars">
            <div class="profile-pic">
                <img src="images/profile.svg" />
            </div>
            <h2>Voornaam Naam</h2>
            <span class="locatie"><img src="images/locate.svg" /> 1000 Brussel</span><br />
            <span class="kunstwerken">50 kunstwerken</span>
        </div>
    </div>
    <div class="col-4 text-center">
        <div class="badge-kunstenaars">
            <div class="profile-pic">
                <img src="images/profile.svg" />
            </div>
            <h2>Voornaam Naam</h2>
            <span class="locatie"><img src="images/locate.svg" /> 1000 Brussel</span><br />
            <span class="kunstwerken">50 kunstwerken</span>
        </div>
    </div>
    <div class="col-4 text-center">
        <div class="badge-kunstenaars">
            <div class="profile-pic">
                <img src="images/profile.svg" />
            </div>
            <h2>Voornaam Naam</h2>
            <span class="locatie"><img src="images/locate.svg" /> 1000 Brussel</span><br />
            <span class="kunstwerken">50 kunstwerken</span>
        </div>
    </div>
    <div class="col-4 text-center">
        <div class="badge-kunstenaars">
            <div class="profile-pic">
                <img src="images/profile.svg" />
            </div>
            <h2>Voornaam Naam</h2>
            <span class="locatie"><img src="images/locate.svg" /> 1000 Brussel</span><br />
            <span class="kunstwerken">50 kunstwerken</span>
        </div>
    </div>
    <div class="col-4 text-center">
        <div class="badge-kunstenaars">
            <div class="profile-pic">
                <img src="images/profile.svg" />
            </div>
            <h2>Voornaam Naam</h2>
            <span class="locatie"><img src="images/locate.svg" /> 1000 Brussel</span><br />
            <span class="kunstwerken">50 kunstwerken</span>
        </div>
    </div>
    <div class="col-4 text-center">
        <div class="badge-kunstenaars">
            <div class="profile-pic">
                <img src="images/profile.svg" />
            </div>
            <h2>Voornaam Naam</h2>
            <span class="locatie"><img src="images/locate.svg" /> 1000 Brussel</span><br />
            <span class="kunstwerken">50 kunstwerken</span>
        </div>
    </div>
</div>

@code {

}
