@page "/2"

<h1>Kunstwerken</h1>
<button id="filters" type="button" class="btn btn-secondary btn-lg" data-bs-toggle="button" autocomplete="off">Toon filters</button>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div id="f-row" class="filters col-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Veilingen</label>
                </div>
                <h3>Categorie:</h3>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Alles</option>
                    <option value="1">Collage</option>
                    <option value="2">Fotografie</option>
                    <option value="3">Schilderijen</option>
                    <option value="4">Sculpturen</option>
                    <option value="5">Tekeningen</option>
                    <option value="6">Andere</option>
                </select>
                <h3>Prijs:</h3>
                <div class="row">
                    <div class="form-floating col-6">
                        <input type="number" class="form-control" id="floatingInput" placeholder="0">
                        <label for="floatingInput">Min.</label>
                    </div>
                    <div class="form-floating col-6">
                        <input type="number" class="form-control" id="floatingInput" placeholder="0">
                        <label for="floatingInput">Max.</label>
                    </div>
                </div>
                <h3>Stijl:</h3>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Abstract</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Klassiek</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Minimalisme</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Modernisme</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Surrealisme</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Andere</label>
                </div>
            </div>
            <div class="kol col-4">
                <div class="badge-kunstwerk">
                    <img src="images/img_x300_615b0f51057766-33663549-37540512.jpg">
                    <div class="k-p">
                        <h2 class="kunstenaar">Kunstenaar Naam</h2>
                        <span class="prijs">&euro; 100,00</span>
                    </div>
                    <span class="naam">Naam van het kunstwerk</span>
                </div>
                <div class="badge-kunstwerk">
                    <img src="images/img_x500_615acf2b92d903-60438090-38681861.jpg">
                    <div class="k-p">
                        <h2 class="kunstenaar">Kunstenaar Naam</h2>
                        <span class="prijs">&euro; 100,00</span>
                    </div>
                    <span class="naam">Naam van het kunstwerk</span>
                </div>
                <div class="badge-kunstwerk">
                    <img src="images/img_x500_615ad37c59a247-12819984-77357969.jpg">
                    <div class="k-p">
                        <h2 class="kunstenaar">Kunstenaar Naam</h2>
                        <span class="prijs">&euro; 100,00</span>
                    </div>
                    <span class="naam">Naam van het kunstwerk</span>
                </div>
            </div>
            <div class="kol col-4">
                <div class="badge-kunstwerk">
                    <img src="images/img_x500_615ad73aa4ac97-98988702-54431046.jpg">
                    <div class="k-p">
                        <h2 class="kunstenaar">Kunstenaar Naam</h2>
                        <span class="prijs">&euro; 100,00</span>
                    </div>
                    <span class="naam">Naam van het kunstwerk</span>
                </div>
                <div class="badge-kunstwerk">
                    <img src="images/img_x500_615ae48c24e8a6-82989812-14129064.jpg">
                    <div class="k-p">
                        <h2 class="kunstenaar">Kunstenaar Naam</h2>
                        <span class="prijs">&euro; 100,00</span>
                    </div>
                    <span class="naam">Naam van het kunstwerk</span>
                </div>
                <div class="badge-kunstwerk">
                    <img src="images/img_x500_615b07b9cabd90-76251995-81189846.jpg">
                    <div class="k-p">
                        <h2 class="kunstenaar">Kunstenaar Naam</h2>
                        <span class="prijs">&euro; 100,00</span>
                    </div>
                    <span class="naam">Naam van het kunstwerk</span>
                </div>
            </div>
            <div class="kol col-4">
                <div class="badge-kunstwerk">
                    <img src="images/img_x500_all-about-eyes-2793_leen-clybouw_615af0b48ee345-48747612-75977376.jpg">
                    <div class="k-p">
                        <h2 class="kunstenaar">Kunstenaar Naam</h2>
                        <span class="prijs">&euro; 100,00</span>
                    </div>
                    <span class="naam">Naam van het kunstwerk</span>
                </div>
                <div class="badge-kunstwerk">
                    <img src="images/img_x500_tribute-to-banksy-1-2795_thierry-castiau_615b0a790db624-10910532-10180001.jpg">
                    <div class="k-p">
                        <h2 class="kunstenaar">Kunstenaar Naam</h2>
                        <span class="prijs">&euro; 100,00</span>
                    </div>
                    <span class="naam">Naam van het kunstwerk</span>
                </div>
                <div class="badge-kunstwerk">
                    <img src="images/img_x500_tribute-to-banksy-2-2796_thierry-castiau_615b0b5a2e3db1-26845522-69390034.jpg">
                    <div class="k-p">
                        <h2 class="kunstenaar">Kunstenaar Naam</h2>
                        <span class="prijs">&euro; 100,00</span>
                    </div>
                    <span class="naam">Naam van het kunstwerk</span>
                </div>
            </div>
        </div>
    </div>
</div>