@page "/register"
@inject IStringLocalizer<EuropArt.Shared.Resources.Register> Loc

<div class="container-lg content">
    <h1 class="text-center">@Loc["I am a"]</h1>
    <div class="text-center">
        <NavLink class="big-button"  href="register/user">@Loc["User"]</NavLink>
        <NavLink class="big-button" href="register/artist">@Loc["Artist"]</NavLink>
        <NavLink class="big-button" href="register/artist">@Loc["Youth Artist"]</NavLink>
    </div>
</div>

@code { }
