@page "/shoppingcart"
@inject IStringLocalizer<Resources.Shoppingcart> Loc


<h1>Jouw winkelmand</h1>
<div class="row shopping-cart align-items-center">
    <div class="col-4">
        <div class="img-cart" style="background-image:url('/images/img_x300_615b0f51057766-33663549-37540512.jpg');">
        </div>
    </div>
    <div class="col-6">
        <h2>Genietende vrouw</h2>
        <span class="artist">Parein Angélina</span><br />
        <span class="price">&euro; 650</span>
    </div>
    <div class="col-2">
        <a href="#"><img src="/images/delete.svg" style="width:15px;" /></a>
    </div>
    <div class="col-4">
        <div class="img-cart" style="background-image: url('/images/img_x500_615ad37c59a247-12819984-77357969.jpg');">
        </div>
    </div>
    <div class="col-6">
        <h2>Zonder twijfel</h2>
        <span class="artist">Carline Booghs</span><br />
        <span class="price">&euro; 350</span>
    </div>
    <div class="col-2">
        <a href="#"><img src="/images/delete.svg" style="width:15px;" /></a>
    </div>
</div>
<div class="row text-end shopping-cart-total">
    <div class="col-12 mb-4">
        <span class="total-price">Totale prijs: &euro; 1000</span>
    </div>
    <div class="col-12">
        <button class="btn btn-bestellen">Bestel</button>
    </div>
</div>

@code { }
