@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*.content {
    padding-top: 1.1rem;
}*/

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/*Custom css*/

﻿.round-nav {
    content: "";
    display: block;
    width: 130%;
    padding-top: 75px;
    position: fixed;
    background-color: #372c2e;
    z-index: 1000;
    border-radius: 100%;
    top: 40px;
    left: -17%;
}

.navbar-first {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.8rem;
    background-color: #fff3ec;
    z-index: 1031;
}

.navbar-second {
    top: 34px;
    /*background-color:#3c231a;*/
    background-color: #372C2E;
}

.dropdown-menu {
    z-index: 9999;
}

.btn-outline-white {
    color: white;
    border-color: white;
}

    .btn-outline-white:hover {
        color: black;
        border-color: white;
        background-color: white;
    }

.content {
    margin-top: 11rem;
}

.badge-kunstwerk {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

    .badge-kunstwerk .k-p {
        position: relative;
    }

        .badge-kunstwerk .k-p h2 {
            margin-top: 0.5rem;
            font-size: 1.2rem;
        }

        .badge-kunstwerk .k-p span.prijs {
            color: #606060;
            position: absolute;
            top: 0;
            right: 0;
        }

    .badge-kunstwerk img {
        max-width: 100%;
        width: 100%;
    }

.filters {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 2rem;
    display: none;
}

    .filters.show {
        display: block;
    }

    .filters .form-floating > label {
        padding: 0.4rem 1.75rem;
    }

    .filters .form-floating > .form-control {
        height: calc(2.5rem + -2px);
    }

.badge-kunstenaars {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

    .badge-kunstenaars .profile-pic {
        height: 200px;
        border-radius: 100%;
        width: 200px;
        min-width: 100px;
        min-height: 100px;
        max-height: 200px;
        max-width: 200px;
        margin: auto;
    }

        .badge-kunstenaars .profile-pic img {
            max-width: 100%;
            max-height: 100%;
        }

    .badge-kunstenaars h2 {
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    .badge-kunstenaars span.locatie, .badge-kunstenaars span.kunstwerken {
        color: #6a6a6a;
    }

        .badge-kunstenaars span.locatie img {
            max-height: 15px;
            transform: translateY(-2px);
        }

form input.form-control {
    padding: 0.675rem 1.15rem;
    border-radius: 25px;
}

form .btn-own {
    width: 100%;
    border: none;
    padding: .775rem .75rem;
    background-color: #372C2E;
    font-weight: 600;
    border-radius: 0;
}

    form .btn-own:hover {
        background-color: #3d3537;
    }

a.big-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #372c2e;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
}

    a.big-button:hover {
        background-color: #3d3537;
    }

.content .row img {
    max-width: 100%;
}