@page "/artwork/add"
<h1>Add an artwork</h1>



<form method="post">
    <div class="mb-3">
        <h6>Title</h6>
        <input type="title" class="form-control" id="exampleInputTitle" aria-describedby="titleHelp" placeholder="Enter title">
    </div>
    <div class="mb-3">
        <h6>Description</h6>
        <input type="description" class="form-control" id="exampleInputDescription1" placeholder="Enter description">
    </div>
    <div class="mb-3">
        <h6>Price</h6>
        <input type="description" class="form-control" placeholder="Enter price">
    </div>

 


    <div class="mb-3">
        <h6>Choose artwork</h6>
        <input type="file" id="artwork" name="artwork" />
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Add artwork</button>
    </div>

</form>






@code {

}