@page "/artwork/add"
<h1>Add an artwork</h1>


<div class="mb-3">
    <h5>Title</h5>
    <input class="form-control"  placeholder="Title">
</div>
<div class="mb-3">
    <h5>Description</h5>
    <input class="form-control" placeholder="Description">
</div>
<div class="mb-3">
    <h5>Price</h5>
    <input class="form-control" placeholder="Price">
</div>

    <fieldset>
      <legend> Upload Image </legend>
      <label for="Image">Image</label>
      <br />
      <input type="file" name="Image" />
      <br/>
      <input type="submit" value="Upload" />
    </fieldset>

<div class="mb-3">
    <button type="submit" class="btn btn-primary btn-own">Add artwork</button>
</div>

@code {

}
