@page "/artwork/add"
<h1 class="text-center">Add an artwork</h1>

<div class="row">
    <div class="col-8 offset-2">
        <EditForm Model="@newArtwork" OnValidSubmit="CreateNewArtwork" class="form">
            <DataAnnotationsValidator />
            <div class="mb-3">
                <h6>Title</h6>
                <InputText class="form-control" id="exampleInputTitle" @bind-Value="newArtwork.Name"
                           aria-describedby="titleHelp" placeholder="Enter title" />
                <ValidationMessage For="@(() => newArtwork.Name)" />
            </div>
            <div class="mb-3">
                <h6>Description</h6>
                <InputText @bind-Value="newArtwork.Description" class="form-control" id="exampleInputDescription1"
                           placeholder="Enter description" />
            </div>
            <div class="mb-3">
                <h6>Price</h6>
                <InputNumber @bind-Value="newArtwork.Price" class="form-control" placeholder="Enter price" />
                <ValidationMessage For="@(() => newArtwork.Price)" />
            </div>
            <div class="mb-3">
                <h6>Choose artwork</h6>
                <input type="file" id="artwork" name="artwork" />
                <ValidationMessage For="@(() => newArtwork.ImagePath)" />

            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Add artwork</button>
            </div>
        </EditForm>
    </div>
</div>

@code {

    EuropArt.Shared.Artworks.ArtworkDto.Detail newArtwork = new EuropArt.Shared.Artworks.ArtworkDto.Detail();
    void CreateNewArtwork()
    {
        Console.WriteLine("Created new artwork!");
    }

}