@page "/dashboard"
@attribute [Authorize(Roles ="Admin")]
@inject HttpClient Http
@inject AuthenticationStateProvider auth
@using EuropArt.Shared.AuthUsers

<h1>Dashboard admin</h1>

<div id="dashboard" class="row">
    <NavLink href="dashboard/artists" class="col-lg-4 col-sm-6 col-12">
        <div class="badge">
            <h2>Goed te keuren kunstenaars</h2>
                @if (users == null)
                {
                    <span>0</span>
                } else
                {
                    <span>@users.Count()</span>
                }
        </div>
    </NavLink>
    <NavLink href="dashboard/artworks" class="col-lg-4 col-sm-6 col-12">
        <div class="badge">
            <h2>Goed te keuren kunstwerken</h2>
            <span>34</span>
        </div>
    </NavLink>
    <NavLink href="dashboard/orders" class="col-lg-4 col-sm-6 col-12">
        <div class="badge">
            <h2>Verkopen afhandelen</h2>
            <span>69</span>
        </div>
    </NavLink>
    <NavLink href="dashboard/homepage" class="col-lg-4 col-sm-6 col-12">
        <div class="badge">
            <h2>Homepagina bewerken</h2>
        </div>
    </NavLink>
</div>

@code {
    private IEnumerable<AuthUserDto.Index> users;

    protected override async Task OnInitializedAsync()
    {
        users = await Http.GetFromJsonAsync<AuthUserDto.Index[]>("api/Authentication/GetUsers");
    }
    
}
