@page
@model IndexModel
@{ ViewData["Title"] = "Inloggen"; }

<h1 class="text-center">Welkom terug!</h1>
<div class="row">
    <div class="col-4 offset-4">
        <form>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="e-mail">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="exampleInputEmail1" placeholder="wachtwoord">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-own">Inloggen</button>
            </div>
        </form>
    </div>
</div>