@page
@model IndexModel
@{ ViewData["Title"] = "Welkom"; }

<div class="container-lg content">
    <h1 class="text-center">Ik ben een ...</h1>
    <div class="text-center">
        <a class="big-button" asp-area="" asp-page="/Registreren/Gebruiker">Gebruiker</a>
        <a class="big-button" asp-area="" asp-page="/Registreren/Kunstenaar">Kunstenaar</a>
    </div>
</div>